HostalDBsolucion/HostalDB_ViewModel/Service References/ServiceReference_Hotel/HostalDB_ServiceWCF2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Dominio.Dtos" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Dominio.Dtos" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="categoria_habitacionDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="categoria_id" type="xs:int" />
      <xs:element minOccurs="0" name="habitacion" nillable="true" type="tns:ArrayOfhabitacionDTO" />
      <xs:element minOccurs="0" name="nombre" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="porcentaje" type="xs:double" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="categoria_habitacionDTO" nillable="true" type="tns:categoria_habitacionDTO" />
  <xs:complexType name="ArrayOfhabitacionDTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="habitacionDTO" nillable="true" type="tns:habitacionDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfhabitacionDTO" nillable="true" type="tns:ArrayOfhabitacionDTO" />
  <xs:complexType name="habitacionDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="categoria_habitacion" nillable="true" type="tns:categoria_habitacionDTO" />
      <xs:element minOccurs="0" name="categoria_id" type="xs:int" />
      <xs:element minOccurs="0" name="habitacion_id" type="xs:int" />
      <xs:element minOccurs="0" name="hotel" nillable="true" type="tns:hotelDTO" />
      <xs:element minOccurs="0" name="hotel_id" type="xs:int" />
      <xs:element minOccurs="0" name="llamada" nillable="true" type="tns:ArrayOfllamadaDTO" />
      <xs:element minOccurs="0" name="minibar" nillable="true" type="tns:ArrayOfminibarDTO" />
      <xs:element minOccurs="0" name="ocupada" type="xs:short" />
      <xs:element minOccurs="0" name="reserva_habitacion" nillable="true" type="tns:ArrayOfreserva_habitacionDTO" />
      <xs:element minOccurs="0" name="tipo_habitacion" nillable="true" type="tns:tipo_habitacionDTO" />
      <xs:element minOccurs="0" name="tipo_habitacion_id" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="habitacionDTO" nillable="true" type="tns:habitacionDTO" />
  <xs:complexType name="hotelDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="ciudad" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="direccion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="estrellas" type="xs:int" />
      <xs:element minOccurs="0" name="habitacion" nillable="true" type="tns:ArrayOfhabitacionDTO" />
      <xs:element minOccurs="0" name="hotel_id" type="xs:int" />
      <xs:element minOccurs="0" name="nombre" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="telefono" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="hotelDTO" nillable="true" type="tns:hotelDTO" />
  <xs:complexType name="ArrayOfllamadaDTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="llamadaDTO" nillable="true" type="tns:llamadaDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfllamadaDTO" nillable="true" type="tns:ArrayOfllamadaDTO" />
  <xs:complexType name="llamadaDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="habitacion" nillable="true" type="tns:habitacionDTO" />
      <xs:element minOccurs="0" name="habitacion_id" type="xs:int" />
      <xs:element minOccurs="0" name="llamada_id" type="xs:int" />
      <xs:element minOccurs="0" name="minutos" nillable="true" type="xs:double" />
      <xs:element minOccurs="0" name="reserva_id" type="xs:int" />
      <xs:element minOccurs="0" name="tipo_llamada" nillable="true" type="tns:tipo_llamadaDTO" />
      <xs:element minOccurs="0" name="tipo_llamada_id" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="llamadaDTO" nillable="true" type="tns:llamadaDTO" />
  <xs:complexType name="tipo_llamadaDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="llamada" nillable="true" type="tns:ArrayOfllamadaDTO" />
      <xs:element minOccurs="0" name="nombre" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="precio" type="xs:double" />
      <xs:element minOccurs="0" name="tipo_llamada_id" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="tipo_llamadaDTO" nillable="true" type="tns:tipo_llamadaDTO" />
  <xs:complexType name="ArrayOfminibarDTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="minibarDTO" nillable="true" type="tns:minibarDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfminibarDTO" nillable="true" type="tns:ArrayOfminibarDTO" />
  <xs:complexType name="minibarDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="bebida" nillable="true" type="tns:bebidaDTO" />
      <xs:element minOccurs="0" name="bebida_id" type="xs:int" />
      <xs:element minOccurs="0" name="cantidad_consumida" type="xs:int" />
      <xs:element minOccurs="0" name="habitacion" nillable="true" type="tns:habitacionDTO" />
      <xs:element minOccurs="0" name="habitacion_id" type="xs:int" />
      <xs:element minOccurs="0" name="id" type="xs:int" />
      <xs:element minOccurs="0" name="reserva_id" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="minibarDTO" nillable="true" type="tns:minibarDTO" />
  <xs:complexType name="bebidaDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="bebida_id" type="xs:int" />
      <xs:element minOccurs="0" name="minibar" nillable="true" type="tns:ArrayOfminibarDTO" />
      <xs:element minOccurs="0" name="nombre" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="precio" type="xs:double" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="bebidaDTO" nillable="true" type="tns:bebidaDTO" />
  <xs:complexType name="ArrayOfreserva_habitacionDTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="reserva_habitacionDTO" nillable="true" type="tns:reserva_habitacionDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfreserva_habitacionDTO" nillable="true" type="tns:ArrayOfreserva_habitacionDTO" />
  <xs:complexType name="reserva_habitacionDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="habitacion" nillable="true" type="tns:habitacionDTO" />
      <xs:element minOccurs="0" name="habitacion_id" type="xs:int" />
      <xs:element minOccurs="0" name="id" type="xs:int" />
      <xs:element minOccurs="0" name="reserva" nillable="true" type="tns:reservaDTO" />
      <xs:element minOccurs="0" name="reserva_id" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="reserva_habitacionDTO" nillable="true" type="tns:reserva_habitacionDTO" />
  <xs:complexType name="reservaDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="cliente_id" type="xs:int" />
      <xs:element minOccurs="0" name="comprobante" nillable="true" type="tns:ArrayOfcomprobanteDTO" />
      <xs:element minOccurs="0" name="fecha_fin" type="xs:dateTime" />
      <xs:element minOccurs="0" name="fecha_inicio" type="xs:dateTime" />
      <xs:element minOccurs="0" name="fecha_reserva" type="xs:dateTime" />
      <xs:element minOccurs="0" name="reserva_habitacion" nillable="true" type="tns:ArrayOfreserva_habitacionDTO" />
      <xs:element minOccurs="0" name="reserva_id" type="xs:int" />
      <xs:element minOccurs="0" name="user" nillable="true" type="tns:userDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="reservaDTO" nillable="true" type="tns:reservaDTO" />
  <xs:complexType name="ArrayOfcomprobanteDTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="comprobanteDTO" nillable="true" type="tns:comprobanteDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfcomprobanteDTO" nillable="true" type="tns:ArrayOfcomprobanteDTO" />
  <xs:complexType name="comprobanteDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="Empresa" nillable="true" type="tns:EmpresaDTO" />
      <xs:element minOccurs="0" name="FechaeEmision" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="RUCcliente" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TipoComprobante" nillable="true" type="tns:TipoComprobanteDTO" />
      <xs:element minOccurs="0" name="cliente_id" type="xs:int" />
      <xs:element minOccurs="0" name="costeConsumibles" nillable="true" type="xs:double" />
      <xs:element minOccurs="0" name="costeHabitacion" nillable="true" type="xs:double" />
      <xs:element minOccurs="0" name="costeLlamadas" nillable="true" type="xs:double" />
      <xs:element minOccurs="0" name="costeMinibar" nillable="true" type="xs:double" />
      <xs:element minOccurs="0" name="estado" nillable="true" type="xs:short" />
      <xs:element minOccurs="0" name="id" type="xs:int" />
      <xs:element minOccurs="0" name="idcomprobante" type="xs:int" />
      <xs:element minOccurs="0" name="reserva" nillable="true" type="tns:reservaDTO" />
      <xs:element minOccurs="0" name="reserva_id" type="xs:int" />
      <xs:element minOccurs="0" name="user" nillable="true" type="tns:userDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="comprobanteDTO" nillable="true" type="tns:comprobanteDTO" />
  <xs:complexType name="EmpresaDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="Direccion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RUC" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RazonSocial" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Telefono" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="comprobante" nillable="true" type="tns:ArrayOfcomprobanteDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="EmpresaDTO" nillable="true" type="tns:EmpresaDTO" />
  <xs:complexType name="TipoComprobanteDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="comprobante" nillable="true" type="tns:ArrayOfcomprobanteDTO" />
      <xs:element minOccurs="0" name="idcomprobante" type="xs:int" />
      <xs:element minOccurs="0" name="nombrecomprobante" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TipoComprobanteDTO" nillable="true" type="tns:TipoComprobanteDTO" />
  <xs:complexType name="userDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="RUC" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="accountExpired" nillable="true" type="xs:short" />
      <xs:element minOccurs="0" name="accountLocked" nillable="true" type="xs:short" />
      <xs:element minOccurs="0" name="apellidos" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="comprobante" nillable="true" type="tns:ArrayOfcomprobanteDTO" />
      <xs:element minOccurs="0" name="direccion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="dni" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="enabled" nillable="true" type="xs:short" />
      <xs:element minOccurs="0" name="nombre" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="passwordExpired" nillable="true" type="xs:short" />
      <xs:element minOccurs="0" name="reserva" nillable="true" type="tns:ArrayOfreservaDTO" />
      <xs:element minOccurs="0" name="telefono" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="user_id" type="xs:int" />
      <xs:element minOccurs="0" name="user_role" nillable="true" type="tns:ArrayOfuser_roleDTO" />
      <xs:element minOccurs="0" name="username" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="userDTO" nillable="true" type="tns:userDTO" />
  <xs:complexType name="ArrayOfreservaDTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="reservaDTO" nillable="true" type="tns:reservaDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfreservaDTO" nillable="true" type="tns:ArrayOfreservaDTO" />
  <xs:complexType name="ArrayOfuser_roleDTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="user_roleDTO" nillable="true" type="tns:user_roleDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfuser_roleDTO" nillable="true" type="tns:ArrayOfuser_roleDTO" />
  <xs:complexType name="user_roleDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="id" type="xs:int" />
      <xs:element minOccurs="0" name="role" nillable="true" type="tns:roleDTO" />
      <xs:element minOccurs="0" name="role_id" type="xs:int" />
      <xs:element minOccurs="0" name="user" nillable="true" type="tns:userDTO" />
      <xs:element minOccurs="0" name="user_id" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="user_roleDTO" nillable="true" type="tns:user_roleDTO" />
  <xs:complexType name="roleDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="authority" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="role_id" type="xs:int" />
      <xs:element minOccurs="0" name="user_role" nillable="true" type="tns:ArrayOfuser_roleDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="roleDTO" nillable="true" type="tns:roleDTO" />
  <xs:complexType name="tipo_habitacionDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="habitacion" nillable="true" type="tns:ArrayOfhabitacionDTO" />
      <xs:element minOccurs="0" name="nombre" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="precio" type="xs:double" />
      <xs:element minOccurs="0" name="tipo_habitacion_id" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="tipo_habitacionDTO" nillable="true" type="tns:tipo_habitacionDTO" />
  <xs:complexType name="ArrayOfcategoria_habitacionDTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="categoria_habitacionDTO" nillable="true" type="tns:categoria_habitacionDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfcategoria_habitacionDTO" nillable="true" type="tns:ArrayOfcategoria_habitacionDTO" />
  <xs:complexType name="ArrayOfEmpresaDTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="EmpresaDTO" nillable="true" type="tns:EmpresaDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfEmpresaDTO" nillable="true" type="tns:ArrayOfEmpresaDTO" />
  <xs:complexType name="ArrayOfhotelDTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="hotelDTO" nillable="true" type="tns:hotelDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfhotelDTO" nillable="true" type="tns:ArrayOfhotelDTO" />
  <xs:complexType name="ArrayOfTipoComprobanteDTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="TipoComprobanteDTO" nillable="true" type="tns:TipoComprobanteDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTipoComprobanteDTO" nillable="true" type="tns:ArrayOfTipoComprobanteDTO" />
  <xs:complexType name="ArrayOftipo_habitacionDTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="tipo_habitacionDTO" nillable="true" type="tns:tipo_habitacionDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOftipo_habitacionDTO" nillable="true" type="tns:ArrayOftipo_habitacionDTO" />
  <xs:complexType name="ArrayOfuserDTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="userDTO" nillable="true" type="tns:userDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfuserDTO" nillable="true" type="tns:ArrayOfuserDTO" />
</xs:schema>